$primary-color: #E50915;
$secondary-color: #59040e;
$background-color: #141414;
$primary-text-color: white;




.primary{
	$primary-color: yellow;
}
	


@mixin col{
	background-color: orange;
	color: blue;
}


.notify {
	margin-top:  60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height:  200px;
		position: relative;

		.cont {
			position: absolute;
			top: 0;
         margin: 5px;
			padding: 5px 10px;
			height: 30px; 
			box-shadow: 0 0 25px $primary-color;
			text-shadow: 0 0 5px $primary-color;
			border-radius: 10px;
			
         display: flex;
			opacity: 0;
         align-items: center;
			transition: all 1s linear;
			
			&.show{
				display: flex;
				opacity: 1;
			}
		}
		
		
		
		input[type="text"] {
         margin: 10px;
         padding: 5px 10px;
         border: solid $primary-color 2px;
         background-color: $background-color;
         color: $primary-text-color;
         // outline: none;
		}

      input[type="submit"]{
			@include col;
         margin-bottom: 15px;
         padding: 5px 10px;
         border: none;
         // color: $primary-text-color;
         // background-color: $primary-color;
         border-radius: 1px;

         &:active{
            background-color: $primary-text-color;
            color: $primary-color;
         }

         &:hover{
            box-shadow: 0 0 10px $primary-text-color;
         }
      }
	}

	.list {
		width: 400px;
		margin: 10px;
		padding: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
      
		border: solid $secondary-color;
      
		p {
         display: flex;
         align-items: center;
         height: 30px;
			margin: 0;
			font-size: 20px;
		}

		button {
			background-color: $primary-color;
			padding: 5px 10px;
			color: $primary-text-color;
			border: none;
			border-radius: 1px;

         &:active{
            background-color: $primary-text-color;
            color: $primary-color;
         }

         &:hover{
            box-shadow: 0 0 10px $primary-text-color;
         }
		}
	}
}
